@if (row) {
<div @slideDown class="subview-container">
  <div class="subview-header">
    <mat-icon color="primary">analytics</mat-icon>
    <h3>Datensatz Details</h3>
    <span class="spacer"></span>
    <div class="badge">ID: {{ row.id || 'N/A' }}</div>
  </div>

  <div class="subview-grid">
    @for (field of fields; track field.key) {
    <div class="detail-item">
      <label>{{ field.key }}</label>

      <div class="value-container">
        @if (field.isBool) {
        <mat-icon [class.text-danger]="!field.value" [class.text-success]="field.value">
          {{ field.value ? 'check_circle' : 'cancel' }}
        </mat-icon>
        <span>{{ field.value ? 'Aktiv' : 'Inaktiv' }}</span>
        } @else {
        <span class="text-value">{{ field.value || '---' }}</span>
        }
      </div>
    </div>
    }
  </div>
</div>
}
