<div class="view-wrapper">

  @if (hasViewActions) {
  <app-view-actions
    (actionClick)="handleMainAction($event)"
    [actions]="data().viewActions">
  </app-view-actions>
  }

  <div class="view-scroll">
    @if (hasViewActions && data().rows.length > 0) {
    <div class="card-select-all">
      <mat-checkbox (change)="toggleAll($event)"> Alle auswählen</mat-checkbox>
    </div>
    }

    <div class="card-container">
      @for (card of data().rows; track card.id) {
      <mat-card class="card">

        <div class="card-header">
          @if (hasViewActions) {
          <mat-checkbox
            [(ngModel)]="card._selected"
            class="card-checkbox">
          </mat-checkbox>
          }

          <span (click)="card._selected = !card._selected" class="card-title clickable">
              {{ getCardTitle(card) }}
            </span>
        </div>

        <mat-divider></mat-divider>

        <mat-card-content class="card-content">
          @for (col of cardColumns; track col.field) {
          @if (col.field !== cardColumns[0]?.field) {
          <div class="field-row">
            <strong>{{ col.field }}:</strong>

            @if (col.type === 'CHECKBOX') {
            <input [(ngModel)]="card[col.field]" [disabled]="true" type="checkbox">
            } @else {
            <span>{{ card[col.field] }}</span>
            }
          </div>
          }
          }
        </mat-card-content>

        @if (hasDetailsActions) {
        <mat-card-actions class="button-actions">
          @for (action of data().detailsActions; track action.label) {
          <button
            (click)="handleDetailsAction(action, card)"
            color="primary"
            mat-raised-button>
            <mat-icon>{{ action.icon }}</mat-icon>
            {{ action.label }}
          </button>
          }
        </mat-card-actions>
        }
      </mat-card>
      } @empty {
      <div class="empty-state">Keine Karten anzuzeigen.</div>
      }
    </div>
  </div>
</div>
