<div class="view-wrapper">
  <app-view-actions
    (actionClick)="handleMainAction($event)"
    [actions]="data().viewActions">
  </app-view-actions>

  <div class="view-scroll">
    <div *ngIf="hasViewActions && data().rows.length > 0" class="card-select-all">
      <mat-checkbox (change)="toggleAll($event.checked)"> Alle auswählen</mat-checkbox>
    </div>

    <div class="card-container">
      <mat-card *ngFor="let card of data().rows" class="card">

        <div class="card-header">
          <mat-checkbox
            *ngIf="hasViewActions"
            [(ngModel)]="card._selected"
            class="card-checkbox">
          </mat-checkbox>

          <span (click)="card._selected = !card._selected" class="card-title clickable">
            {{ getCardTitle(card) }}
          </span>
        </div>

        <mat-divider></mat-divider>

        <mat-card-content class="card-content">
          <div *ngFor="let col of cardColumns">
            <ng-container *ngIf="col !== cardColumns[0]">
              <strong>{{ col.field }}:</strong>

              <ng-container *ngIf="col.type === 'CHECKBOX'">
                <label>
                  <input [(ngModel)]="card[col.field]" [disabled]="true" type="checkbox"/>
                </label>
              </ng-container>

              <ng-container *ngIf="col.type === 'PASSWORD'">
                {{ mask(card[col.field]) }}
              </ng-container>

              <ng-container *ngIf="col.type !== 'CHECKBOX' && col.type !== 'PASSWORD'">
                {{ card[col.field] }}
              </ng-container>
            </ng-container>
          </div>
        </mat-card-content>

        <mat-card-actions *ngIf="hasDetailsActions" class="button-actions">
          <button
            (click)="handleDetailsAction(action, card)"
            *ngFor="let action of data().detailsActions"
            color="primary"
            mat-raised-button>
            <mat-icon>{{ action.icon }}</mat-icon>
            {{ action.label }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
