<div class="view-wrapper">
  <!-- VIEW - BUTTONS -->
  <app-view-actions
    (actionClick)="handleMainAction($event)"
    [actions]="data.viewActions"
    outlet="actions">
  </app-view-actions>
  <div class="view-scroll">
    <!-- SELECT ALL -->
    <div *ngIf="(hasViewActions && data?.rows?.length > 0)" class="card-select-all">
      <mat-checkbox (change)="toggleAll($event)"> Alle auswählen</mat-checkbox>
    </div>

    <!-- CARDS -->
    <div class="card-container">
      <mat-card *ngFor="let card of data.rows" class="card">
        <!-- CARD HEADER -->
        <div class="card-header">
          <mat-checkbox
            *ngIf="hasViewActions"
            [(ngModel)]="card._selected"
            class="card-checkbox"
          >
          </mat-checkbox>

          <span
            (click)="card._selected = !card._selected"
            class="card-title clickable"
          >
        {{ getCardTitle(card) }}
      </span>
        </div>

        <mat-divider></mat-divider>

        <!-- CONTENT -->
        <mat-card-content class="card-content">
          <div *ngFor="let col of cardColumns">
            <!-- Titel-Feld nicht doppelt anzeigen -->
            <ng-container *ngIf="col !== cardColumns[0]">
              <strong>{{ col.field }}:</strong>

              <!-- CHECKBOX -->
              <ng-container *ngIf="col.type === 'CHECKBOX'">
                <input
                  [(ngModel)]="card[col.field]"
                  [disabled]="!col.editable"
                  type="checkbox"
                />
              </ng-container>

              <!-- ALLE ANDEREN TYPEN -->
              <ng-container *ngIf="col.type !== 'CHECKBOX'">
                {{ card[col.field] }}
              </ng-container>
            </ng-container>
          </div>
        </mat-card-content>

        <!-- ACTION BUTTONS -->
        <mat-card-actions *ngIf="hasDetailsActions" class="button-actions">
          <button
            (click)="handleDetailsAction(action, card)"
            *ngFor="let action of data.detailsActions"
            color="primary"
            mat-raised-button
          >
            <mat-icon>{{ action.icon }}</mat-icon>
            {{ action.label }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
