<div class="wrapper">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <h1>Login</h1>

    <div class="input-box">
      <label>
        <input
          name="email"
          [(ngModel)]="email"
          type="text"
          placeholder="Username"
          required
        />
      </label>
      <i class="bx bxs-user"></i>
    </div>

    <div class="input-box">
      <label>
        <input
          name="password"
          [(ngModel)]="password"
          type="password"
          placeholder="Password"
          required
        />
      </label>
      <i class="bx bxs-lock-alt"></i>
    </div>

    <div class="remember-forgot">
      <label>
        <input type="checkbox" [(ngModel)]="remember" name="remember" />
        Remember
      </label>
    </div>

    <button type="submit" class="btn">Login</button>

    <div class="forgot-link">
      <p>Forgot password? Click <a href="#">hier</a></p>
    </div>
  </form>
</div>
