.side-menu {
  width: 200px;
  background: #ececec;
  padding: 5px;
  height: 100%;
  overflow-y: auto;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  margin-bottom: 4px;
  cursor: pointer;
  color: #444;
  /* Dein cooles Polygon-Design */
  clip-path: polygon(0% 0%, 92% 0%, 100% 100%, 0% 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.1s ease, filter 0.2s;
}

.menu-item:hover {
  transform: translateX(4px);
  filter: brightness(0.95);
}

.menu-item.child {
  font-size: 13px;
  padding-left: 25px;
  margin-left: 5px;
  clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 0% 100%);
}

.arrow {
  width: 8px;
  height: 8px;
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  margin-right: 15px;
}

.arrow.expanded {
  transform: rotate(-135deg);
}

.children-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 8px;
}
