<div class="container">
  <header class="top-title">
    IntraConnect
    <div class="top-menu">
      <button (click)="toggleUserMenu()" class="menu-button">
        <span class="material-icons">account_circle</span>
      </button>

      @if (userMenuOpen()) {
      <ul class="dropdown">
        <li (click)="changeLanguage('de')">Sprache: DE</li>
        <li (click)="changeLanguage('en')">Sprache: EN</li>
        <li class="divider"></li>
        <li (click)="logout()">Logout</li>
      </ul>
      }
    </div>
  </header>

  <aside class="side-menu">
    @if (menues().length) {
    <app-menu
      (menuClick)="onMenuClick($event)"
      [menues]="menues()">
    </app-menu>
    }
  </aside>

  <main class="content">
    <div class="content-fix">
      <router-outlet name="actions"></router-outlet>
    </div>

    @if (menues().length) {
    <div class="content-scroll">
      <router-outlet></router-outlet>
    </div>
    }
  </main>
</div>
